requests~=2.32.3
fastapi~=0.115.11
uvicorn~=0.34.0
mongoengine~=0.29.1
pymongo==4.3.3
python-dotenv~=1.0.1
pydantic~=2.10.6
bcrypt==4.0.1
email-validator==2.0.0
python-jose~=3.4.0
passlib==1.7.4
python-multipart==0.0.6
logging==0.4.9.6
flake8==7.1.2
pytz==2025.1

starlette~=0.46.1
Jinja2~=3.1.6